@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  body {
    background: radial-gradient(ellipse at top, #1c274c, #0f172a),
      radial-gradient(ellipse at right, #1c274c, #0f172a);
    color: white;
  }
}


@media (prefers-color-scheme: light) {
  body {
    background-image: url(/public/BackgroundNoise.svg);
    color: black;
  }
}

body {
  background-attachment: fixed;

  font-family:
    system-ui;
}

main {
  margin: 12px;
}